<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">college_name</th>
          <th scope="col">batch</th>
          <th scope="col">contact</th>
          <th scope="col">mail</th>
        </tr>
      </thead>
      <tbody>
          {% for i in show %}
        <tr>
          <th scope="row">{{i.id}}</th>
          <td>{{i.name}}</td>
          <td>{{i.college_name}}</td>
          <td>{{i.batch}}</td>
          <td>{{i.cotact}}</td>
          <td>{{i.mail}}</td>
          <td><!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              SendMail
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Mail</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'sendmail' i.id %}" method="POST"> {% csrf_token %}
                      <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Subject</label>
                          <input type="text" class="form-control" name="subject" id="subject">
                      </div>
                      <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">message</label>
                          <textarea name="message" class="form-control" id="message" cols="30" rows="10"></textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="sumbit" class="btn btn-primary">Send</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>

